@use "@/sass/mixins" as mixins

.layout    
   max-width: 100vw
   min-height: 100vh
   margin: 0 auto
   background-color: #303030
   color: white
   &__container
      @include mixins.common-pos
      padding: 20px 0
