@use "@/sass/vars" as vars
@use "@/sass/mixins" as mixins
.main-header
    width: 100%
    padding: 24px 0
    box-shadow: vars.$shadow-down
    background-color: vars.$primary-color
    text-color: #fff
    &__container
        @include mixins.common-pos
        margin: 0 auto
    ul
        display: flex
        gap: 40px
        list-style: none